* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #5f90ba;
  font-size: 1.2rem;
}

.container {
  width: 80%;
  max-width: 500px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#password-output {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  width: 100%;
}

.range-container {
  margin: 20px 0;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 160px;
  background: #d4d5d5;
  border-radius: 50px;
}

input[type="range"]::-webkit-slider-runnable-track { 
    height: 16px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 40px;
  background: linear-gradient(
    to bottom,
    rgba(59, 117, 243, 0.65) 0%,
    rgba(2, 5, 104, 0.95) 100%
  );
  border-radius: 18px;
  transform: translateY(-11px);
  transition: 0.15s ease;
  cursor: grab;
}

input[type="range"]::-webkit-slider-thumb:active {
  cursor: grabbing;
  transform: scale(1.2) translateY(-9px);
}
#display-password-length {
  width: 30px;
  background: transparent;
  border: none;
}

.checkbox-container {
    margin: 36px 0 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"]:checked + label {
    transform: scale(1.3);
    filter: brightness(150%);
  }
  label {
    user-select: none;
    background-image: linear-gradient(to top, #a0b5cd 0%, #608cc9 100%);
    height: 60px;
    width: 60px;
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.486);
    transition: 0.2s ease;
    cursor: pointer;
  }
  button {
    color: #fff;
    font-weight: 600;
    margin: 14px 0 20px;
    background-image: linear-gradient(120deg, #2720f2 0%, #87aeebe2 100%);
    padding: 10px 20px;
    border-radius: 150px;
    border: 2px solid #accbee;
    border-bottom: 3px solid rgb(32, 22, 173);
    border-right: 3px solid #87aeebe2;
    transition: 0.2s;
    cursor: pointer;
  }
  button:hover {
    border: 2px solid rgb(21, 0, 255);
    border-bottom: 3px solid #accbee;
    border-right: 3px solid #accbee;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.32);
    transform: translateX(3px);
  }
  button:active {
    transform: scale(1.05);
  }
  